/* Don't change the existing CSS. */

.box {
	background-color: blue;
	padding: 10px;
}

/* Inner box shoulr be below Box because they belong to same Specificity - Class, and Position matters*/
.inner-box {
	background-color: red;
}

#outer-box {
	background-color: purple;
}

p {
	color: yellow;
	margin: 0;
	padding: 0;
}

.white-text {
	color: white;
}
